 <!-- main body start-->
 <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Invoice List</h5>
                </div>
                <div class="card-body">
                    <div id="batchDelete" class="custom-datatable">
                        <div class="table-responsive">
                            <ngx-datatable class="bootstrap" [rows]="objRows"
                                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                [rowHeight]="'auto'" [limit]="5">
                                <ngx-datatable-column name="Imvoice No" prop="invoiceNo"> </ngx-datatable-column>
                                <ngx-datatable-column name="Order Id" prop="orderId"> </ngx-datatable-column>
                                <ngx-datatable-column name="Order Status" prop="orderStatus"> </ngx-datatable-column>
                                <ngx-datatable-column name="Payment Date" prop="paymentDate"> </ngx-datatable-column>
                                <ngx-datatable-column name="Payment Method" prop="paymentMethod"> </ngx-datatable-column>
                                <ngx-datatable-column name="Payment Status" prop="paymentStatus"> </ngx-datatable-column>
                                <ngx-datatable-column name="Shipping Amount" prop="shippingAmount"> </ngx-datatable-column>
                                <ngx-datatable-column name="Sub Total Amount" prop="subTotalAmount"> </ngx-datatable-column>
                                <ngx-datatable-column name="Total Amount" prob="totalAmount"> </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main body end-->
