    <!-- main body start-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>User List</h5>
            </div>
            <div class="card-body">
                <div class="btn-popup pull-right">
                    <a class="btn btn-secondary">Add User</a>
                </div>
                <div id="batchDelete"
                    class="category-table custom-datatable transcation-datatable userimage">
                    <div class="table-responsive">
                        <ngx-datatable class="bootstrap" [rows]="objRows"
                            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [limit]="5">
                        <ngx-datatable-column name="First Name"></ngx-datatable-column>
                        <ngx-datatable-column name="Last Name"></ngx-datatable-column>
                        <ngx-datatable-column name="Email"></ngx-datatable-column>
                        <ngx-datatable-column name="UserType"></ngx-datatable-column>
                        <ngx-datatable-column name="Action">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <button type="button" style="color:green" (click)="editById(row.id)" class="fa fa-edit mx-2"></button>
                                <button type="button" style="color:red" (click)="deleteById(row.id)" class="fa fa-trash-o "></button>
                            </ng-template>
                        </ngx-datatable-column>
                        
                        </ngx-datatable>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <!-- main body end-->
