<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>User Type Master</h5>
        </div>
        <div class="card-body tab2-card">

            <ul ngbNav #nav="ngbNav" class="nav-tabs" activeId="viewTab" (navChange)="tabChange($event)">
                <li ngbNavItem="addTab">
                  <a ngbNavLink>Add</a>
                  <ng-template ngbNavContent>
                     <!--Add Start-->
                     <form [formGroup]="objForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
                <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>Name</label>
                <input class="form-control col-xl-8 col-md-7" formControlName="name" type="text">
                <div class="col-xl-3 col-md-4"></div>
                <div class="col-xl-8 col-md-7" *ngIf="ctrl['name'].touched && ctrl['name'].invalid">
                    <span style="color:#dc3545 !important" *ngIf="ctrl['name'].hasError('required')"> {{validationMessage.name.required}} </span>
                    <div class="text-danger">{{formErrors.name}}
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <button type="submit" [disabled]="objForm.invalid" class="btn btn-primary mx-2">{{buttonText}}</button>
                <button type="button" (click)="cancleForm()" class="btn btn-danger">Cancle</button>
            </div>
            <!--Add End-->
        </form>
                  </ng-template>
                </li> 
                <li ngbNavItem="viewTab">
                  <a ngbNavLink>View</a>
                  <ng-template ngbNavContent>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="custom-datatable">
                                            <ngx-datatable class="bootstrap" [rows]="objRows"
                                                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                                [rowHeight]="'auto'" [limit]="5">
                                                <ngx-datatable-column name="Name"></ngx-datatable-column>
                                                <ngx-datatable-column name="Created Date" prop="createdOn"></ngx-datatable-column>
                                                <ngx-datatable-column name="Actions">
                                                    <ng-template ngx-datatable-cell-template let-row="row">
                                                        <button type="button" style="color:green" (click)="editById(row.id)" class="fa fa-edit mx-2"></button>
                                                        <button type="button" style="color:red" (click)="deleteById(row.id)" class="fa fa-trash-o"></button>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                            </ngx-datatable>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </ng-template>
                </li>
               
              </ul>
              <div [ngbNavOutlet]="nav"></div>
           
            <!--View Start-->
           
            <!--View End-->
        </div>
    </div>
</div>
